*{
    margin: 0;
    padding: 0;
 
 
 }
 
 body{
    background: rgb(84, 163, 189) ;
 }

 h1{

    color:rgb(230, 230, 101);
    font-size: 3em;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-47%) translateY(-150%);
}

p{
   color: aliceblue;
   font-size:x-large;
   text-align:left;
   position: absolute;
  
   top: 45%;
   left: 22%;
   right: 0%;
   transform: translateX(-27%) translateY(-100%);
  
}

h3{


   font-size:x-large;
   text-align:left;
   position:absolute;
   top: 999%;
   left: 22%;
   right: 0%;
   transform: translateX(-27%) translateY(-100%);

}

img{
 
   width: 20%;
   height:15%;
   
}
 video{  

   width: 40%;
   height: 30%;

 }
   

 h6{
    font-size: x-small;
    text-align: left;
    position: absolute;
    top: 990%;
   left: 4%;
   
    
 }



 